/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/login/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.page_page__j8X_T {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
  
    display: flex;
    flex-direction: row;
    min-height: 100svh;
    background-color: #ffffff;
    padding: 64px;
    font-family: var(--font-geist-sans);
    gap: 172px;
  }
  
  @media (prefers-color-scheme: dark) {
    .page_page__j8X_T {
      --gray-rgb: 255, 255, 255;
      --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
      --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  
      --button-primary-hover: #ccc;
      --button-secondary-hover: #1a1a1a;
    }
  }
  
  .page_main__MRZB1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .page_welcome__An1Ga {
    color: #e3036f;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }
  
  /* Enable hover only on non-touch devices */
  @media (hover: hover) and (pointer: fine) {
    a.page_primary__GhA3y:hover {
      background: var(--button-primary-hover);
      border-color: transparent;
    }
  
    a.page_secondary__p_xeF:hover {
      background: var(--button-secondary-hover);
      border-color: transparent;
    }
  
    .page_footer__Res3w a:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
  
  @media (max-width: 600px) {
    .page_page__j8X_T {
      padding: 32px;
      padding-bottom: 80px;
    }
  
    .page_main__MRZB1 {
      align-items: center;
    }
  
    .page_main__MRZB1 ol {
      text-align: center;
    }
  
    .page_ctas__xMOdk {
      flex-direction: column;
    }
  
    .page_ctas__xMOdk a {
      font-size: 14px;
      height: 40px;
      padding: 0 16px;
    }
  
    a.page_secondary__p_xeF {
      min-width: auto;
    }
  
    .page_footer__Res3w {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .page_logo__3qVzi {
      filter: invert();
    }
  }
  
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/login/login.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.login_card__bNF89 {
    box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.2);
    padding: 32px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: width 0.3s ease;
    justify-content: space-between;
}

.login_card__bNF89.login_signup__I4__G {
    width: 100%;
}

.login_card__bNF89.login_forgot-password__pJY65 {
    justify-content: start;
    gap: 36px;
}

.login_header__IrnkR {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 700;
    gap: 10px;
    container-type: inline-size;
}

.login_header-actions__USFB7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login_button__k_6Aa {
    all: unset;
    cursor: pointer;
    color: #A6A6A6;
}

.login_button-active__8VtXk {
    all: unset;
    cursor: pointer;
    color: #0C0C0C;
    transition: all 0.3s ease;
}

.login_header-actions-underline__ZwwBu {
    height: 4px;
    background-color: #000000;
    /* transition: transform 0.3s ease; */
    width: 65px;

}
  
.login_header-actions-underline__ZwwBu.login_move-right__zOjAs {
    transform: translateX(calc(100cqw - 100%));
}

.login_instruction__bbf1B {
    color: #0C0C0C;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 24px;
}

.login_login-inputs__LSjae {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login_input-container__AEwSq {
    border: #E7E7E9D9 2px solid;
    padding: 13px 20px;
    border-radius: 108px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.login_input__COfDs {
    all: unset;
    caret-color: #e3036f; 
    color: #0C0C0C;
    width: 100%;
    text-align: left;
}

.login_input__COfDs::placeholder {
    color: #747474;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.login_login-form__rW_Jy {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.login_login-button-container__tJAr0 {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.login_login-button__4B0gE {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #e3036f;
    color: #ffffff;
    padding: 14px 24px;
    gap: 6px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 700;
    margin: auto;
}

.login_forgot-password__pJY65 {
    color: #797979;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
}

.login_forgot-password__pJY65 > p {
    cursor: pointer;
    display: inline;
    color: #e3036f;
    text-decoration: underline;
}

.login_forgot-password-message__2CwX4 {
    color: #0C0C0C;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login_forgot-password-message__2CwX4 > p {
    color: #797979;
    font-size: 14px;
    font-weight: 500;
}


.login_login-socials__ErU2Q {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.login_login-socials-button__P1BEt {
    background-color: #F4F4F4;
    padding: 14px 24px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
