/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/login/component.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.component_card__y4U2P {
    box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.2);
    padding: 32px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: width 0.3s ease;
    justify-content: space-between;
}

.component_card__y4U2P.component_signup__LE_i4 {
    width: 100%;
}

.component_card__y4U2P.component_forgot-password__LqVVF {
    justify-content: start;
    gap: 36px;
}

.component_header__5qB63 {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 700;
    gap: 10px;
    container-type: inline-size;
}

.component_header-actions__g6sLn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.component_button__VD3cM {
    all: unset;
    cursor: pointer;
    color: #A6A6A6;
}

.component_button-active__mSqs6 {
    all: unset;
    cursor: pointer;
    color: #0C0C0C;
    transition: all 0.3s ease;
}

.component_header-actions-underline__6MkOr {
    height: 4px;
    background-color: #000000;
    /* transition: transform 0.3s ease; */
    width: 65px;

}
  
.component_header-actions-underline__6MkOr.component_move-right__yM_fB {
    transform: translateX(calc(100cqw - 100%));
}

.component_instruction__ZM2V_ {
    color: #0C0C0C;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 24px;
}

.component_login-inputs__y1EEu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.component_input-container__uG2AR {
    border: #E7E7E9D9 2px solid;
    padding: 13px 20px;
    border-radius: 108px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.component_input__9ItqQ {
    all: unset;
    caret-color: #e3036f; 
    color: #0C0C0C;
    width: 100%;
    text-align: left;
}

.component_input__9ItqQ::placeholder {
    color: #747474;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.component_login-form__Eohzz {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.component_login-button-container__Z5Iq8 {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.component_login-button__vQ8gZ {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #e3036f;
    color: #ffffff;
    padding: 14px 24px;
    gap: 6px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 700;
    margin: auto;
}

.component_login-button__vQ8gZ.component_disabled___Sugm {
    opacity: 50%;
    cursor: not-allowed;
}

.component_forgot-password__LqVVF {
    color: #797979;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
}

.component_forgot-password__LqVVF > p {
    cursor: pointer;
    display: inline;
    color: #e3036f;
    text-decoration: underline;
}

.component_forgot-password-message__Oxuls {
    color: #0C0C0C;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.component_forgot-password-message__Oxuls > p {
    color: #797979;
    font-size: 14px;
    font-weight: 500;
}


.component_login-socials__ugSPt {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.component_login-socials-button__jWR7l {
    background-color: #F4F4F4;
    padding: 14px 24px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.component_login-error-message__bP_PF {
    color: #FF0000;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/button/component.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.component_button__j_bcV {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #e3036f;
    color: #ffffff;
    padding: 14px 24px;
    gap: 6px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
}

.component_button__j_bcV.component_disabled__E5RgY {
    opacity: 50%;
    cursor: not-allowed;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/welcome/component.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.component_main__XiA4D {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.component_welcome__cRISI {
    color: #e3036f;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/pageContainer/component.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.component_container__pUVxA {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
  
    display: flex;
    flex-direction: row;
    min-height: 100svh;
    background-color: #ffffff;
    padding: 64px;
    font-family: var(--font-geist-sans);
    gap: 172px;
  }
  
  @media (prefers-color-scheme: dark) {
    .component_container__pUVxA {
      --gray-rgb: 255, 255, 255;
      --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
      --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  
      --button-primary-hover: #ccc;
      --button-secondary-hover: #1a1a1a;
    }
  }
