/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/login/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.page_card__wnoHP {
    box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.2);
    padding: 32px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: width 0.3s ease;
    justify-content: space-between;
}

.page_card__wnoHP.page_signup__2TYA_ {
    width: 100%;
}

.page_card__wnoHP.page_forgot-password__sdr_w {
    justify-content: start;
    gap: 36px;
}

.page_header__X7UxJ {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 700;
    gap: 10px;
    container-type: inline-size;
}

.page_header-actions__HsucE {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page_button__XvIaA {
    all: unset;
    cursor: pointer;
    color: #A6A6A6;
}

.page_button-active__VKX1T {
    all: unset;
    cursor: pointer;
    color: #0C0C0C;
    transition: all 0.3s ease;
}

.page_header-actions-underline__POb07 {
    height: 4px;
    background-color: #000000;
    /* transition: transform 0.3s ease; */
    width: 65px;

}
  
.page_header-actions-underline__POb07.page_move-right__ctkhg {
    transform: translateX(calc(100cqw - 100%));
}

.page_instruction__Cgw_S {
    color: #0C0C0C;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 24px;
}

.page_login-inputs__AQZB7 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.page_input-container__3BJ5V {
    border: #E7E7E9D9 2px solid;
    padding: 13px 20px;
    border-radius: 108px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.page_input__t1GXH {
    all: unset;
    caret-color: #e3036f; 
    color: #0C0C0C;
    width: 100%;
    text-align: left;
}

.page_input__t1GXH::placeholder {
    color: #747474;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.page_login-form__rK9be {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.page_login-button-container__wuR5g {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.page_login-button__xfChR {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #e3036f;
    color: #ffffff;
    padding: 14px 24px;
    gap: 6px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 700;
    margin: auto;
}

.page_login-button__xfChR.page_disabled__iL1TN {
    opacity: 50%;
    cursor: not-allowed;
}

.page_forgot-password__sdr_w {
    color: #797979;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
}

.page_forgot-password__sdr_w > p {
    cursor: pointer;
    display: inline;
    color: #e3036f;
    text-decoration: underline;
}

.page_forgot-password-message__Z8yBG {
    color: #0C0C0C;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.page_forgot-password-message__Z8yBG > p {
    color: #797979;
    font-size: 14px;
    font-weight: 500;
}


.page_login-socials__RSB3b {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.page_login-socials-button__tTnzt {
    background-color: #F4F4F4;
    padding: 14px 24px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.page_login-error-message__SWnd_ {
    color: #FF0000;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/welcome/component.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.component_main__XiA4D {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.component_welcome__cRISI {
    color: #e3036f;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/pageContainer/component.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.component_container__pUVxA {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
  
    display: flex;
    flex-direction: row;
    min-height: 100svh;
    background-color: #ffffff;
    padding: 64px;
    font-family: var(--font-geist-sans);
    gap: 172px;
  }
  
  @media (prefers-color-scheme: dark) {
    .component_container__pUVxA {
      --gray-rgb: 255, 255, 255;
      --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
      --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  
      --button-primary-hover: #ccc;
      --button-secondary-hover: #1a1a1a;
    }
  }
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/button/component.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.component_button__j_bcV {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #e3036f;
    color: #ffffff;
    padding: 14px 24px;
    gap: 6px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
}

.component_button__j_bcV.component_disabled__E5RgY {
    opacity: 50%;
    cursor: not-allowed;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/otpInput/component.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.component_container___rZs5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.component_input__85fv_ {
    all: unset;
    width: 45px;
    height: 45px;
    caret-color: #e3036f; 
    color: #0C0C0C;
    border: 1px solid #0C0C0C;
    border-radius: 8px;
    text-align: center;
}
