/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/login/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.page_page__j8X_T {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
  
    display: flex;
    flex-direction: row;
    min-height: 100svh;
    background-color: #ffffff;
    padding: 64px;
    font-family: var(--font-geist-sans);
    gap: 172px;
  }
  
  @media (prefers-color-scheme: dark) {
    .page_page__j8X_T {
      --gray-rgb: 255, 255, 255;
      --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
      --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  
      --button-primary-hover: #ccc;
      --button-secondary-hover: #1a1a1a;
    }
  }
  
  .page_main__MRZB1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .page_welcome__An1Ga {
    color: #e3036f;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }
  
  /* Enable hover only on non-touch devices */
  @media (hover: hover) and (pointer: fine) {
    a.page_primary__GhA3y:hover {
      background: var(--button-primary-hover);
      border-color: transparent;
    }
  
    a.page_secondary__p_xeF:hover {
      background: var(--button-secondary-hover);
      border-color: transparent;
    }
  
    .page_footer__Res3w a:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
  
  @media (max-width: 600px) {
    .page_page__j8X_T {
      padding: 32px;
      padding-bottom: 80px;
    }
  
    .page_main__MRZB1 {
      align-items: center;
    }
  
    .page_main__MRZB1 ol {
      text-align: center;
    }
  
    .page_ctas__xMOdk {
      flex-direction: column;
    }
  
    .page_ctas__xMOdk a {
      font-size: 14px;
      height: 40px;
      padding: 0 16px;
    }
  
    a.page_secondary__p_xeF {
      min-width: auto;
    }
  
    .page_footer__Res3w {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .page_logo__3qVzi {
      filter: invert();
    }
  }
  
