/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/pageContainer/component.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.component_container__pUVxA {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
  
    display: flex;
    flex-direction: row;
    min-height: 100svh;
    background-color: #ffffff;
    padding: 64px;
    font-family: var(--font-geist-sans);
    gap: 172px;
  }
  
  @media (prefers-color-scheme: dark) {
    .component_container__pUVxA {
      --gray-rgb: 255, 255, 255;
      --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
      --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  
      --button-primary-hover: #ccc;
      --button-secondary-hover: #1a1a1a;
    }
  }
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/welcome/component.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.component_main__XiA4D {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.component_welcome__cRISI {
    color: #e3036f;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/reset/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.page_card__vL5L3 {
    box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.2);
    padding: 32px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: width 0.3s ease;
}

.page_reset-password-message__urhzB {
    color: #0C0C0C;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.page_reset-password-message__urhzB > p {
    color: #797979;
    font-size: 14px;
    font-weight: 500;
}

.page_input-container__FpJM4 {
    border: #E7E7E9D9 2px solid;
    padding: 13px 20px;
    border-radius: 108px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.page_input___F_zC {
    all: unset;
    caret-color: #e3036f; 
    color: #0C0C0C;
    width: 100%;
    text-align: left;
}

.page_input___F_zC::placeholder {
    color: #747474;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.page_toggle-visibility__XftZN {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.page_error__7MK8P {
    color: #FF0000;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.page_button-container__hsqdK {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.page_remembered-password__8TQUi {
    color: #797979;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
}

.page_remembered-password__8TQUi > p {
    cursor: pointer;
    display: inline;
    color: #e3036f;
    text-decoration: underline;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/button/component.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.component_button__j_bcV {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #e3036f;
    color: #ffffff;
    padding: 14px 24px;
    gap: 6px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
}

.component_button__j_bcV.component_disabled__E5RgY {
    opacity: 50%;
    cursor: not-allowed;
}
