.input-container {
    border: #E7E7E9D9 2px solid;
    padding: 13px 20px;
    border-radius: 108px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    font-size: 14px;
}

.input {
    all: unset;
    caret-color: #e3036f; 
    color: #0C0C0C;
    width: 100%;
    text-align: left;
}

.input::placeholder {
    color: #747474;
    line-height: 16px;
    font-weight: 500;
}

.toggle-visibility {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.phone-prefix {
    display: flex;
    align-items: center;
    color: #0C0C0C;
}