/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_header__kVzhN {
    font-size: 28px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #e3036f;
}

.page_button__vnlhW {
    all: unset;
    cursor: pointer;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 700;
    width: -moz-fit-content;
    width: fit-content;
}

.page_button__vnlhW.page_new__qJKBs {
    background-color: #e3036f;
}

.page_button__vnlhW.page_logout__lFxUO {
    background-color: #ff0000;
}

.page_tasks__OsrOJ {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page_task__XJDAK {
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 24px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.page_task-title__5rJ0k {
    color: #e3036f;
    font-size: 20px;
    font-weight: 600;
}

.page_task-description__Utav7 {
    color: #0C0C0C;
}

.page_task-details__52D2b {
    color: #0C0C0C;
    font-weight: 200;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/pageContainer/component.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.component_container__pUVxA {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
  
    display: flex;
    flex-direction: row;
    min-height: 100svh;
    background-color: #ffffff;
    padding: 64px;
    font-family: var(--font-geist-sans);
    gap: 172px;
  }

.component_container__pUVxA.component_column__GIuS4 {
  flex-direction: column;
}
  
  @media (prefers-color-scheme: dark) {
    .component_container__pUVxA {
      --gray-rgb: 255, 255, 255;
      --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
      --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  
      --button-primary-hover: #ccc;
      --button-secondary-hover: #1a1a1a;
    }
  }
